<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_mmm.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Button to toggle categories menu -->
                        <li class="nav-item">
                            <button class="btn btn-outline-primary">
                                <img src="~/images/menu.png" alt="Ouvrir la liste des catégories" id="toggleMenu" style="width:30px; height:30px;" />
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa-solid fa-house"></i>Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"> <i class="fa-solid fa-box"></i>Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index"> <i class="fa-solid fa-layer-group"></i>Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark position-relative" asp-controller="Panier" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i> Panier
                                @await Component.InvokeAsync("Cart")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Wishlist" asp-action="Index">
                                <i class="fas fa-heart"></i> Souhaits
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"> <i class="fa-solid fa-file-shield"></i>Politique de confidentialité</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Dashboard", "Admin")">
                                    <i class="fas fa-tachometer-alt"></i> Tableau de Bord
                                </a>
                            </li>
                        }

                        <form class="d-flex" asp-area="" asp-controller="Product" asp-action="Search">
                            <input class="form-control me-sm-2" type="search" placeholder="Search" name="val">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </ul>

                    <!-- Authentication Links -->
                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                    <button type="submit" class="nav-link btn btn-link text-dark">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <!-- Modified container with sidebar and main content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar for categories -->
            <div class="col-md-2" id="sidebar" style="display: none;">
                <p> </p>
                <ul class="list-group">
                    @await Html.PartialAsync("_CategoriesMenu", ViewData["Categories"])
                </ul>
            </div>
            <!-- Main content -->
            <div class="col-md-12" id="mainContent">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TP2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CustomScript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/wishlist.js"></script>
</body>
</html>